/* Color To Use */
/* Greeen Color */
/* 769656 */
/* Cream Color */
/* EEEED2 */

.dad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

.square {
    background-color: #EEEED2;
    width: 70px;
    height: 70px;
}


.main-container {
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(8, 1fr);
    height: 560px;
    /* 70px * 8 = 560px */
    width: 560px;
    overflow: hidden;
}

.files:nth-of-type(odd) .square:nth-of-type(even) {
    background-color: #769656;
}

.files:nth-of-type(even) .square:nth-of-type(odd) {
    background-color: #769656;
}

img {
    width: 100%;
}

.circle {
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}